.App {
  font-family: sans-serif;
}

.App h1 {
  font-size: 22px;
  background: #222;
  color: white;
  padding: 3px;
  border-radius: 5px;
  height: 45px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.App h3 {
  margin-right: 20px;
  text-align: end;
}

.App h1 img {
  width: 20px;
}

.App-Nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.App-Nav-F,
.App-Nav-S {
  height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  font-size: 1.5rem;
}
.App-Book {
  width: 50%;
  display: flex;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  transition: all 0.5s;
}
.App-Book-Cart {
  width: 50%;
  display: flex;
  padding: 10px;
  margin: 0 0 10px 0;
  margin-left: auto;
  border: 1px solid #ccc;
  transition: all 0.5s;
}

.App-Book img {
  width: 130px;
  margin: 0 10px 0 0;
}
.App-Book-Cart img {
  width: 130px;
  margin: 0 10px 0 0;
}
